/***************** GALLERY  *************/
.gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 5vw);
    grid-gap: 20px;
    position: relative;
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: .5s ease;
}

.item1 {
    grid-column: 1 / 5;
    grid-row: 1 / 6;
}
.item2 {
    grid-column: 5 / 8;
    grid-row: 1 / 4;
}
.item3 {
    grid-column: 5 / 8;
    grid-row: 4 / 6;
}
.item4 {
    grid-column: 8 / 13;
    grid-row: 1 / 9;
}
.item5 {
    grid-column: 5 / 8;
    grid-row: 6 / 9;
}
.item6 {
    grid-column: 1 / 5;
    grid-row: 6 / 9;
}


.item {
    position: relative;
}
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }
  
  .item:hover .gallery-img {
    opacity: 0.2;
  }
  
  .item:hover .middle {
    opacity: 1;
  }
  
  .text {
    color: black;
    font-size: 1rem;
    padding: 16px 32px;
    overflow: hidden;
  }

  .text h3 {
      font-weight: bold;
      font-size: 1.125rem;
  }




  /* v2  */

  
/* #gallery {
    margin: 0;
    padding: 0;
} */

.container {
    /* padding: 0; */
}

#gallery .card {
    position: relative;
    background-color: #dfdfdf;
    border: none;
}

#gallery .card-body {
    width: 100%;
    margin: auto;
    background: transparent;
}

#gallery .card-body h5 {
    display: inline-block;
}

.card-title {
    margin: 0;
}

.card-img-top {
    width: 100%;
    min-height: 328px;
    max-height: 328px;
    object-fit: cover;
    transition: .5s ease;
    display: block;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
  }
  
  .card:hover .card-img-top {
    opacity: 0.3;
  }
  
  .card:hover .middle {
    opacity: 1;
  }