
body {
    font-family: 'Montserrat', sans-serif;
}

a::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 2px;
    display: block;
    background: #fff;
    transition: width .3s;
}

a:hover::after {
    width: 100%;
    transition: width .3s;
}


/* ************ 
/************ hero  ***********/

#hero {
    min-height: 750px;
    background: url("../img/bg/bg10.jpg") top / cover no-repeat;
    position: relative;
    /* opacity: 0.8; */
}
#hero h1 {
    font-weight: bold;
    font-size: 4rem;
    
}
#hero h2 {
    font-weight: bold;
    font-style: initial;
    letter-spacing: 20px;
}

#header {
    z-index: 2;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
}




/*************** BACK TO TOP ****************/

#btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border: none; 
    outline: none;
    color: #007bff; 
    cursor: pointer;
    padding: 15px;
    font-size: 2rem; 
    border-radius: 50%;
  }
  
  #btn:hover {
    transition: font-size .5s;
    font-size: 3rem;
  }


  /*********** SOCIAL  ***********/

  .social {
      font-size: 2rem;
      padding: 20px;
      color: #9AE17B;
  }


  /*************** BUTTONS  **************/

 /* .btn {
     background-color: #9AE17B;
 } */

 
  /*************** CATALOG NAV  **************/

.catalog-nav a {
    color: #007bff;
  }

  .nav-link {
      font-size: 1.125rem;
      margin: 0 10px;  }

      .nav-link:hover {
        transition: all .5s ease;
        font-size: 1.15rem;
        margin: 0 10px;  
    }
    /*************** WORKING HOURS **************/
.business-hours{
	font-size: 13px;
}
.business-hours li {
	line-height: 30px;
	border-bottom: 1px solid #333; 
	}
.business-hours li:last-child {
	border-bottom: none; 
	}
.business-hours .opening-hours li.today {
	color: #9AE17B; 
    }
    

      /*********** RESUME  ***********/

#resume h3 {
    font-weight: bold;
    letter-spacing: 3px;
}



/*************** Products.html ****************/

.catalog-nav a {
    color: black;
}



/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    #header h1 {
        
    }
 }

