body {
    font-family: 'Montserrat', sans-serif;
}

/************ navbar  ***********/

.main-nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
}
a {
    color: #FFFFFF;
	text-transform: uppercase;
}

/* ************ 
/************ hero  ***********/

#hero {
    min-height: 750px;
    background: url("../img/greenhouse.jpg") top center/ cover no-repeat;
    position: relative;
}
#hero h1, p {
    font-weight: 400;
}

#header {
    z-index: 2;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
}

/***************** GALLERY  *************/
.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 20px;
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.basil {
    grid-column: 1 / 3;
    grid-row: 1 / 6;
}
.braske {
    grid-column: 3 / 6;
    grid-row: 1 / 4;
}
.geranium {
    grid-column: 3 / 6;
    grid-row: 4 / 6;
}
.rose {
    grid-column: 6 / 9;
    grid-row: 1 / 5;
}
.tomato2 {
    grid-column: 6 / 9;
    grid-row: 5 / 9;
}
.tomato {
    grid-column: 1 / 6;
    grid-row: 6 / 9;
}


/*************** BACK TO TOP ****************/

#btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border: none; 
    outline: none;
    color: #007bff; 
    cursor: pointer;
    padding: 15px;
    font-size: 2rem; 
    border-radius: 50%;
  }
  
  #btn:hover {
    transition: font-size .5s;
    font-size: 3rem;
  }


  /*********** SOCIAL  ***********/

  .social {
      font-size: 2rem;
      padding: 20px;
      color: #9AE17B;
  }


  /*************** BUTTONS  **************/

 .btn {
     background-color: #9AE17B;
 }

 
  /*************** CATALOG NAV  **************/

.catalog-nav a {
    color: #007bff;
  }
    /*************** WORKING HOURS **************/
.business-hours{
	font-size: 13px;
}
.business-hours li {
	line-height: 30px;
	border-bottom: 1px solid #333; 
	}
.business-hours li:last-child {
	border-bottom: none; 
	}
.business-hours .opening-hours li.today {
	color: #9AE17B; 
	}