/*************** MAIN ****************/

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Montserrat', sans-serif;
    background: #f4f7f6;
}

/*************** BACK TO TOP BUTTON ****************/

#btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border: none; 
    outline: none;
    color: #007bff; 
    cursor: pointer;
    padding: 15px;
    font-size: 2rem; 
    border-radius: 50%;
  }
  
  #btn:hover {
    transition: all .5s;
    font-size: 3rem;
  }


 /*************** FOOTER ****************/

 #footer {
    background: #262626;
    padding: 6px;
}

#footer p {
    padding: 10px 0;
    margin: 0;
    color: #999;
    font-size: 16px;
}

#footer a {
    display: inline-block;
}

#footer .nav-link {
    padding: 10px 0;
    color:#999;
    font-size: 16px;
}

  .social {
      padding: 0 20px;
      color: #999;
      font-size: 20px;
  }

  .flex {
      display: flex;
      justify-content: space-around;
  }
  .footer-social {
      display: flex;
      justify-content: center;
      align-items: center;
  }


  @media (max-width: 1024px) {
      .flex {
          flex-direction: column;
          text-align: center;
      }
      .footer-nav {
          display: flex;
          justify-content: space-evenly;
      }
  }
  @media (max-width: 600px) {

    .footer-nav {
        flex-direction: column;
    }
}
    

/*************** ABOUT US ****************/

.about-us {
    background-color: #fff;
}

#about-us .row {
    margin-top: 2.5rem;
}


/*************** Contact.html ****************/

/* sticky footer */
.footer-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-contact {
    flex: 1;
    margin-top: 5rem;
}

.container-contact .row {
    margin-bottom: 3rem;
}

/* // left side */

.top h2 {
    position: relative;
    margin-bottom: 30px;

}
.top h2::before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 2px;
    background-color: #BCBCBC;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.top h2::after {
    content: '';
    display: inline-block;
    width: 120px;
    height: 2px;
    background-color: #BCBCBC;
    position: absolute;
    bottom: -18px;
    left: 0;
}

.contact-icon {
    width: 3rem;
}


@media (max-width: 500px) {
    .container-contact .row {
        display: flex;
        justify-content: center;
    }
    .top {
        text-align: center;
    }
    .top p {
        width: 90%;
        margin: auto;
    }
    .top h2::before {
        bottom: -10px;
        left: 94px;
    }
    .top h2::after {
        bottom: -18px;
        left: 94px;
    }
    .container-contact {
        margin-top: 2rem;
    }
    .container-contact p {
        margin-bottom: 2rem;
    }

}

/*************** DELIVERY ****************/

#delivery {
    background-color: #fff;
    padding: 2rem 0 3rem;
}

#delivery .delivery-card p {
    padding: 0 4px;
    /* text-align: center; */
    margin-top: 1rem;
}

#delivery .delivery-card a {
    font-weight: bold;
}






